:root {
  --blue-color: #1919a1;
  --primary-font: "Josefin Sans", sans-serif;
  --light-blue: #88f2f0;
}
body {
  text-align: center;
  font-family: var(--primary-font);
  background-image: url("/src/images/big-clock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  padding-bottom: 50px;
}
.project {
  max-width: 500px;
  border: 1px black solid;
  border-radius: 100px;
  margin: 50px auto;
  padding: 25px 25px;
  background: rgba(255, 255, 255, 0.8);
}
h1 {
  font-size: 40px;
  margin: 20px 0px;
  transition: all 1000ms ease-in-out;
}
h1:hover {
  color: var(--blue-color);
}
select {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 7px 7px;
  border: 5px solid var(--light-blue);
  border-radius: 100px;
  font-family: var(--primary-font);
  font-size: 17px;
  text-align: center;
}
option {
  font-family: var(--primary-font);
  font-size: 17px;
  text-decoration: var(--light-blue);
}
option:hover {
  color: var(--blue-color);
}
.city {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin: 40px 30px;
  padding-bottom: 20px;
  border-bottom: 5px solid var(--light-blue);
}
.city:hover {
  color: var(--blue-color);
}
.city:last-child,
.one-city {
  border-bottom: none;
}

.cityname {
  margin: 0px;
  font-size: 38px;
}
.date {
  margin-top: 7px;
  color: var(--blue-color);
  text-align: left;
}

.time {
  font-size: 50px;
  font-family: "Source Code Pro", monospace;
}
.more-cities-link {
  margin-top: 30px;
  font-size: 22px;
  text-decoration: none;
  background: white;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: 5px solid var(--light-blue);
  border-radius: 100px;
  color: black;
}
footer {
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 100px;
}
footer a {
  color: white;
}
small {
  font-size: 25px;
  padding: 6px 6px;
  vertical-align: middle;
  line-height: 38px;
  font-weight: bold;
}
@media (max-width: 573px) {
  h1 {
    font-size: 30px;
  }
  h2.cityname {
    font-size: 29px;
  }
  .time {
    font-size: 25px;
  }
  option {
    font-size: 12px;
  }
  .city,
  .one-city {
    margin: 40px 5px;
  }
} ;
